<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>
        <h3 th:inline="text">Thank you [[${#httpServletRequest.remoteUser}]]! You have signed up following person to the event!</h3>
        <p th:each="signup : ${signup}">
                <strong>Name: </strong><span th:text="${signup.name}">name</span>
                <strong>Address: </strong><span th:text="${signup.address}">address</span>
        </p>
        <table>
            <tr>
                <th>
                    <form th:action="@{/form}" method="get">
                        <input type="submit" value="New sign up"/>
                    </form>
                </th>
                <th>
                    <form th:action="@{/mysignups}" method="get">
                        <input type="submit" value="Show my sign ups"/>
                    </form>
                </th>
                <th>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Log out"/>
                    </form>
                </th>
            </tr>
        </table>
    </body>
</html>
