<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h3>Sign up to the event using this form</h3>

        <form name="signupForm" action="#" th:action="@{/form}" onsubmit="return validateForm()" method="post">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <script th:src="@{/javascript/code.js}"></script>
    </body>
</html>
