<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registered users</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <h3>Sign up information</h3>

        <ol>
            <li th:each="signup : ${signups}">
                <strong>Name: </strong><span th:text="${signup.name}">name</span>
                <strong>Address: </strong><span th:text="${signup.address}">address</span>
            </li>
        </ol>
        <table>
            <tr>
                <th>
                    <form th:action="@{/form}" method="get">
                        <input type="submit" value="New sign up"/>
                    </form>
                </th>
                <th>
                    <form th:action="@{/signout}" method="get">
                        <input type="submit" value="Log out"/>
                        <input type="hidden" name="url" value="logout"/>
                    </form>
                </th>
            </tr>
        </table>
    </body>
</html>
